@tailwind base;
@tailwind components;
@tailwind utilities;

.mouseover__img {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: justify;
  border-radius: 5px;
}

.div-mouseover:hover + .mouseover__img {
  display: block;
  top: 50px;
  left: -20px;

  width: max-content;

  z-index: 100;
}
